<nav class="navbar navbar-light bg-primary ">
    <a class="navbar-brand" href="/">
        <img src="/img/mauro2.png" alt="">
    </a>
    <a href="http://github.com/designermauro/Guia-de-Perguntas" target="_blank" rel="external" class="btn btn-primary">Projeto: github.com/designermauro/Guia-de-Perguntas</a>    
</nav>